body {
    font-family: Roboto, sans-serif;
    margin: 0; /* Was trying to figure out why header wasn't going across. Needed margin on the body to be 0 after inspecting chrome*/
}
.hero, .footer {
    background-color: #1f2937;
}

/* -------------------- */
/* ----Header Hero----- */
/* -------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    color: #e5e7fb;
    text-decoration: none;
}